{% extends "base.html" %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block additional_js %}
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}

{% block title %}User Dashboard{% endblock %}

{% block content %}
    <h1>Welcome, {{ user.name }}</h1>

    <p><strong>Your IHB Ownership</strong></p>
    <ul>
        {% for ownership in user.IHB_ownership %}
            <li>IHB {{ ownership.IHB_number }}: {{ ownership.percentage }}%</li>
        {% endfor %}
    </ul>

    <p><strong>Your Recent Transactions</strong></p>
    <ul>
        {% for transaction in user.transaction_history %}
            <li>{{ transaction.sender }} transferred {{ transaction.amount }} to {{ transaction.recipient }} for IHB {{ transaction.IHB_number }}</li>
        {% endfor %}
    </ul>

    <p><strong>Balance Information</strong></p>
    <form method="post">
        {% csrf_token %}
        <label for="IHB_number">IHB Number:</label>
        <input type="number" id="IHB_number" name="IHB_number" required><br><br>

        <label for="command">Enter Command (Balance / Transfer / Logout):</label>
        <input type="text" id="command" name="command" required><br><br>

        <button type="submit">Execute Command</button>
    </form>

    <h2>Transfer Ownership</h2>
    <form method="post">
        {% csrf_token %}
        <label for="recipient">Recipient (First Name and Last Name):</label>
        <input type="text" id="recipient" name="recipient" value="{{ transfer_form_data.recipient }}" required><br><br>

        <label for="IHB_number">IHB Number (For Transaction):</label>
        <input type="number" id="IHB_number" name="IHB_number" value="{{ transfer_form_data.IHB_number }}" required><br><br>

        <label for="amount">Amount (Real Number as USD):</label>
        <input type="number" id="amount" name="amount" value="{{ transfer_form_data.amount }}" required><br><br>

        <button type="submit" name="command" value="Transfer">Transfer</button>
    </form>
    
    <h3>On Demand Support</h2>
    <form method="post">
        {% csrf_token %}
        <label for="Phone Number">(250)-886-1590:</label>
    </form>

    {% if terminal_output %}
        <div>{{ terminal_output }}</div>
    {% endif %}
    
    <br>
    <a href="{% url 'logout' %}">Logout</a>
{% endblock %}